.sign{
    padding: 20px;
    height: 60vh;
    width:280px;
    margin: 20px auto;
    
}
.sign .lock{
    background-color: rgb(71, 134, 216);
}
.sign h2{
    margin: 10px;
}
.sign .field{
    margin: 1vh;
    
}
.sign button{
    margin: 15px 0;
}
.sign .link{
    text-align: center;
    margin: 6px;
}
.sign .link:hover{
    cursor: pointer;
}